/*  */
/*  */
/* Navbar Section */
/*  */
/*  */

.navbar-parent-style {
  display: flex;
  border-bottom: 1px solid black;
  background: white;
  height: 8vh;
}

.navbar-first-child {
  width: 60%;
  margin-left: 20px;
  font-size: 28px;
  color: black;
}

.navbar-link {
  color: black;
  text-decoration: none;
}

.navbar-second-child {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-weight: 400;
  font-size: 16px;
  color: black;
  font-family: monospace;
}

/*  */
/*  */
/* Hero Section */
/*  */
/*  */


.herosection-parent {
  background-image: url('../public/herosectionbg.jpeg');
  background-size: cover;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  overflow-y: hidden;
}

.herosection-text {
  font-weight: 300;
  font-size: 500px;
  color: rgba(184, 104, 117, 0.6);
  /* color: transparent;
  background-image: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* text-shadow:
    -3px -3px 10px rgb(184, 104, 117),
    1px -1px 10px rgb(184, 104, 117),
    -1px 1px 10px rgb(184, 104, 117),
    1px 1px 10px rgb(184, 104, 117); */
    text-shadow:
    -3px -3px 10px rgba(0, 0, 0, 0.1),
    1px -1px 10px rgba(0, 0, 0, 0.1),
    -1px 1px 10px rgba(0, 0, 0, 0.1),
    1px 1px 10px rgba(0, 0, 0, 0.1);
    /* text-shadow:
    -3px -3px 10px rgba(184, 104, 117, 0.1),
    1px -1px 10px rgba(184, 104, 117, 0.1),
    -1px 1px 10px rgba(184, 104, 117, 0.1),
    1px 1px 10px rgba(184, 104, 117, 0.1); */
}

.herosection-tagline {
  font-weight: 400;
  font-size: 19px;
  color: white;
  font-family: monospace;
  text-shadow:
    -3px -3px 10px black,
    1px -1px 10px black,
    -1px 1px 10px black,
    1px 1px 10px black;
}

/*  */
/*  */
/* Contact Animation Section */
/*  */
/*  */

.contact-animation-parent {
  font-family: monospace;
  font-size: 12px;
  height: 8vh;
  background: black;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.margin-left-right{
  margin: 0 10px; 
}

.contact-animation-text {
  animation: mLR 20s ease-in-out infinite;
  color: white;
}

@keyframes mLR {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}

/*  */
/*  */
/* Blog-alert-Section */
/*  */
/*  */

.g-headline-section-parent {
  font-family: monospace;
  font-size: 32px;
  height: 8vh;
  background: rgb(184, 104, 117);
  color: white;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  border-left: 40px solid black;
  border-right: 40px solid black;
  border-top: 10px solid black;
}

.g-headline-section-text {
  animation: mLR 10s ease-in-out infinite;
}

@keyframes mLR {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}

/*  */
/*  */
/* Technical Section */
/*  */
/*  */

.g-section-parent {
  width: 100%;
  display: flex;
  background: black;
  font-family: monospace;
  color: white;
}

.g-section-div1 {
  width: 33.33%;
  height: 88vh;
  border-right: 1px solid white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.g-section-div2 {
  width: 33.33%;
  height: 88vh;
  border-right: 1px solid white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.g-section-div3 {
  width: 33.33%;
  height: 88vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.g-section-numbers {
  font-size: 50px;
}

/*  */
/*  */
/* About Section */
/*  */
/*  */

.aboutsection-parent {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 92vh;
  display: flex;
  overflow-y: hidden;
}

.about-firstchild {
  width: 85%;
  height: 100%;
}

.about-description {
  height: 60%;
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description-text {
  width: 50%;
  font-family: monospace;
  color: white;
}

.about-qualification {
  height: 40%;
  background: rgb(184, 104, 117);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-qualification-edu {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: larger;
  color: white;
}

.about-qualification-exp {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: larger;
  color: white;
}

.aboutsection-secondchild {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/aboutsectionimage.jpeg');
  background-size: cover;
}

/*  */
/*  */
/* Blog Section */
/*  */
/*  */
.blog-parent-section {
  overflow-x: hidden;
  background: black;
}

.blog-video-section {
  width: 100vw;
  height: 50vh;
}

.blog-content-section {
  font-family: monospace;
  font-size: 15px;
  color: rgb(255, 255, 255);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.blog-content1 {
  width: 80%;
}




/*  */
/*  */
/* Font Import */
/*  */
/*  */

.oswald-bold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.teko-bold {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.lora-bold {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}